<div class="flex w-1/4 flex-wrap">
  <div class="w-full p-1 md:p-2">
    <div id="<%= dom_id product %>">
      <p class="my-5 font-semibold text-3xl">
        <%= product.name.truncate(20, separator: ' ') %>
      </p>

      <p class="my-5">
        <%= product.description %>
      </p>

      <p class="my-5">
        Price: <%= '%.2f' % product.price %> $
      </p>

      <p class="my-5">
        Available: <%= product.balance %>
      </p>

      <% if action_name != "show" %>
        <%= link_to "Show this product", product, class:"inline-block rounded bg-neutral-800 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-neutral-50" %>
        <hr class="mt-6">
      <% end %>

      <div class="relative mb-3">
        <%= form_with url: buy_path, method: :get do |form| %>
          <%= form.hidden_field :product_id, value: product.id %>
          <%= form.number_field :amount, class:'w-[100px] h-[37px]' %>
          <%= form.submit "Add to cart", class:"inline-block rounded bg-neutral-800 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-neutral-50" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
