<div class="flex w-1/4 flex-wrap">
  <div class="w-full p-1 md:p-2">
    <div id="<%= dom_id product %>">
      <p class="my-5">
        <%= product.name %>
      </p>

      <p class="my-5">
        <%= product.description %>
      </p>

      <p class="my-5">
        <%= '%.2f' % product.price %>
      </p>

      <% if action_name != "show" %>
        <%= link_to "Show this product", product, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        <%= link_to 'Edit this product', edit_product_path(product), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
        <hr class="mt-6">
      <% end %>

      <div class="flex justify-center">
        <%= link_to 'Buy', buy_path(product_id: product.id), class: "rounded bg-primary-100 px-6 pb-2 pt-2.5 uppercase leading-normal text-primary-700 content-around" %>
      </div>
    </div>
  </div>
</div>
